@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
 /* 1834x1227 */
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #f1f1f1;
}
header {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    position: fixed;
    height: 55px;
    max-height: 23vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 5px 9.4vh;
}
h1 {
    font-size: 24px;
    font-weight: 700;
    max-height: 20vh;
    max-width: 33vw;
    padding-right: 1vw;
}
nav {
    display: flex;
    margin-right: 30vw;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #585e65;
}
button {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    border: none;
    color: #fff;
    background-color: #4c6ef5;
    height: 70%;
    width: 150px;
    border-radius: 4px;
    cursor: pointer;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-gap: 20px;
    box-sizing: border-box;
    padding: 15vh;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 90%;
}

h2 {
    font-size: 1rem;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    transition: 1s;
    cursor: pointer;
    box-sizing: border-box;
}
div p {
    margin: 30px 0;
}

div button {
    border: none;
    background-color: #4c6ef5;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    align-self: center;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    border: 1px solid #fff0;
    transition: 500ms;
}

div button:hover {
    background: #e3e9ff;
    color: #4c6ef5;
    border-color: #4c6ef5;
}